<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="node.TypeScript.DefinitelyTyped" version="3.1.2" targetFramework="net452" />
  <package id="peerjs.TypeScript.DefinitelyTyped" version="0.1.1" targetFramework="net452" />
  <package id="RequireJS" version="2.3.1" targetFramework="net452" />
  <package id="socket.io.TypeScript.DefinitelyTyped" version="1.4.0" targetFramework="net452" />
  <package id="webrtc.TypeScript.DefinitelyTyped" version="0.5.4" targetFramework="net452" />
</packages>